{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    "_": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "warn"
  }
}
